.presupuesto .o_group, .presupuesto .o_list_view,
.presupuesto .o_form_label,
.presupuesto .o_input,
.presupuesto .nav-item {
    font-size: 17px !important;
 }


.modal-dialog.modal-lg {
    max-width: 75vw;
}

.o_notebook .o_list_view {
    width: 100%
 }